.rom-title {
  font-family: 'Inter';
  font-size: 1.6vw;
  font-weight: lighter;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 0.5vh;
  color: #ffffff;
  text-decoration-color: #81e8ff;
  cursor: pointer;
}

.rom-title:hover {
  text-decoration-color: rgb(251, 29, 29);
  transition: 0.3s;
}