.selection-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.selection-image {
  justify-content: left;
  width: 50vw;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInRightDifferent {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
  }
}

.selection-title {
  margin-top: 5vh;
  font-family: "Chakra Petch";
  font-style: italic;
  font-weight: bold;
  font-size: 4vw;
  text-align: left;
  text-transform: capitalize;
  text-shadow: 0px 0px 5px var(--primary-accent);
}

.selection-list li {
  margin-left: 4vw;
  font-family: "Chakra Petch";
  font-style: normal;
  font-size: 1.3vw;
  /* identical to box height */

  text-decoration-line: underline;
  text-transform: capitalize;
  color: var(--link-color);
}

.fade-in-right-image {
  animation: fadeInRight 0.8s ease-in-out;
}

.fade-in-right-title {
  animation: fadeInRight 1s ease-in-out;
}

.fade-in-right-list {
  animation: fadeInRightDifferent 0.9s ease-in-out;
}